<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer DevSecOps Engineer / System Engineer with 15+ years of experience.</p>
        <p>Certified Kubernetes Administrator and Security Specialist. GitOps and IaC oriented.</p>
        <p>More than 100 integration projects led and brought to conclusion.</p>
      </div>
      <div class="col-lg-4">
        <p>I love to automate everything. My goal is flawless processes and people working better because of it.</p>
        <p>Add me on Linkedin (link in footer) or fill the form below to have a chat.</p>
      </div>
    </div>
  </div>
<div class="certification-logos text-center" style="margin-top: 30px;">
  <div class="cert-badge">
    <img src="img/cka.png" alt="CKA Certification" class="cert-logo-cka">
  </div>
  <div class="cert-badge">
    <img src="img/cks.png" alt="CKS Certification" class="cert-logo-cks">
  </div>
</div>
</section>